**/.venv/
/lewm-env/

__pycache__/
*.pyc
/.env

/data/
outputs/
wandb/
logs/
files/
notebooks/

**/outputs/
**/wandb/
**/logs/
**/__pycache__/

*.json
*.txt
*.hydra

*.yaml
!models/le-wm/config/train/lewm.yaml

!models/
!models/**
models/**/outputs/
models/**/wandb/
models/**/logs/
models/**/__pycache__/
models/**/*.json
models/**/*.txt
models/**/*.hydra
models/**/*.yaml

.lewm_public/

*.png
*.gif
*.pcd
*.ply